---
import Beneficios from "../components/Beneficios.astro";
import Contact from "../components/Contact.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Seguros from "../components/Seguros.astro";
import BajaPoliza from "../components/BajaPoliza.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ERGS667QMK"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ERGS667QMK");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Seguros Online</title>
    <meta name="description" content="Seguros baratos en Argentina" />

    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content="Title of the project" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://github.com/PaulleDemon" />
    <!--Replace with the current website url-->
    <meta property="og:image" content="" />

    <link
      rel="shortcut icon"
      href="/images/rocio_logo.png"
      type="image/x-icon"
    />
  </head>

  <body class="flex min-h-[100vh] w-full flex-col bg-[#ffffff] !scroll-smooth">
    <Header />
    <Hero />
    <Seguros />
    <Beneficios />
    <Contact />
    <BajaPoliza />
    <Footer />
  </body>
</html>
