---
import Beneficios from "../components/Beneficios.astro";
import Contact from "../components/Contact.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Seguros from "../components/Seguros.astro";
import BajaPoliza from "../components/BajaPoliza.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-11461589122"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-11461589122");
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ERGS667QMK"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-ERGS667QMK");
    </script>
    <!-- Event snippet for Vista de página conversion page -->
    <script type="text/partytown">
      gtag("event", "conversion", {
        send_to: "AW-11461589122/hw2nCLmKz8AZEILxp9kq",
      });
    </script>
    <!-- Event snippet for Solicitar cotización conversion page -->
    <script type="text/partytown">
      gtag("event", "conversion", {
        send_to: "AW-11461589122/Gd0KCLyKz8AZEILxp9kq",
      });
    </script>
    <!-- Event snippet for Clic saliente conversion page -->
    <script type="text/partytown">
      gtag("event", "conversion", {
        send_to: "AW-11461589122/UAqgCL-Kz8AZEILxp9kq",
      });
    </script>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-11461589122"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-11461589122");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      Rocío Seguros Online: Auto, Moto, Hogar, Comercio y Más con San Cristóbal
      | Cotizá Ahora
    </title>
    <meta
      name="description"
      content="Descubrí los seguros de San Cristóbal con Rocío Seguros Online: auto, moto, comercio, hogar, accidentes personales y planes de ahorro e inversión. Protección confiable, opciones flexibles y asesoramiento personalizado para cuidar lo que más te importa. ¡Cotizá y asegurá tu tranquilidad hoy mismo!"
    />
    <link rel="sitemap" href="../../dist/pages/" />

    <link
      rel="shortcut icon"
      href="./src/images/rocio_logo.png"
      type="image/x-icon"
    />
  </head>

  <body class="flex min-h-[100vh] w-full flex-col bg-[#ffffff] !scroll-smooth">
    <Header />
    <Hero />
    <Seguros />
    <Beneficios />
    <Contact />
    <BajaPoliza />
    <Footer />
  </body>
</html>
