<section
  class="flex w-full flex-col place-content-center place-items-center bg-[#F1EDED] p-[5%] px-[10%]"
>
  <div
    class="flex w-full flex-col place-content-center place-items-center gap-6"
  >
    <h2 class="primary-text-color text-3xl max-md:text-xl">
      ¿Querés dar de baja tu póliza?
    </h2>
    <h2 class="text-xl text-center max-md:text-lg">
      Si contrataste un seguro con San Cristóbal Seguros de forma online, podés
      darlo de baja en cualquier momento.
    </h2>

    <a
      href="https://www.sancristobal.com.ar/institucional/preguntas-frecuentes/consultas-generales#cancelaciones"
      target="_blank"
      class="inline-flex items-center justify-center max-md:w-full w-1/4 px-4 py-4 text-base font-semibold text-black transition-all duration-200 bg-[#04ABCB] border border-transparent rounded-full focus:outline-none hover:bg-[#236a78f8] focus:bg-[#236a78f8]"
    >
      Más información
    </a>
  </div>
</section>
