---
const { textButton, hrefLink } = Astro.props;
---

<a
  class="max-lg:hidden cursor-pointer bg-[#04ABCB] text-[#00282F] hover:bg-[#236a78f8] focus:bg-[#236a78f8] transition-colors hover:text-white focus:text-white text-lg font-semibold px-6 my-[0.80rem] rounded-3xl"
  href={hrefLink}
  target="_blank"
>
  <span>{textButton}</span>
</a>
