---
import { Image } from "astro:assets";
import ButtonPrimary from "./ButtonPrimary.astro";
import logo from "../../public/images/rocio_logo.png";
---

<header
  class="fixed top-0 z-20 flex h-[60px] w-full px-[10%] max-lg:mr-auto lg:justify-around bg-[rgba(0,0,0,0.3)]"
>
  <div class="flex place-items-center gap-3 h-[50px] w-[80px] p-[4px]">
    <Image src={logo} alt="logo" class="object h-full w-full" loading="lazy" />
    <h1 class="text-xs hidden">Rocío seguros online</h1>
  </div>
  <nav
    class="flex h-full w-max gap-5 text-base text-white max-lg:mt-[30px] max-lg:flex-col max-lg:place-items-end max-lg:gap-5 lg:mx-auto lg:place-items-center"
  >
    <a class="header-links" href=""> Sobre mí </a>
    <a class="header-links" href=""> Seguros </a>
    <a class="header-links" href=""> Ahorro e inversión </a>
    <a class="header-links" href="#booking"> Contacto </a>
  </nav>
  <ButtonPrimary
    textButton="Cotizá tu auto"
    hrefLink="https://www.sancristobal.com.ar/pas/rj-seguros-generales/cotizar"
  />
</header>
